openapi: 3.2.0
info:
  description: '## Overview

    The Riot API is a (mostly) RESTful API.'
  title: Riot Sonar API
  version: v1
servers:
- url: https://public-api.tryriot.com/
security:
- apiKeyAuth: []
tags:
- name: Sonar
paths: {}
webhooks:
  revoke_drive_item_permission_request.created:
    post:
      description: Fires when Riot decides a third-party permission should be revoked. The customer is expected to perform the revocation on the corresponding provider using the identifiers in `data.provider_data`.
      operationId: RevokeDriveItemPermissionRequestCreatedWebhook
      parameters:
      - description: Unique identifier of this webhook event. The same id is sent on every retry; use it as an idempotency key.
        in: header
        name: webhook-id
        required: true
        schema:
          format: uuid
          type: string
      - description: Unix timestamp (seconds) at which this delivery attempt was made. Used together with `webhook-id` and the body to verify the signature.
        in: header
        name: webhook-timestamp
        required: true
        schema:
          examples:
          - 1780000000
          type: integer
      - description: 'Space-delimited list of signatures, one per active endpoint secret (e.g. `v1,sig1 v1,sig2`).


          Each signature is `v1,<base64(HMAC-SHA256(secret, "<webhook-id>.<webhook-timestamp>.<body>"))>`. Verify against the raw request body; re-serializing the JSON will change the bytes and invalidate the signature.

          '
        in: header
        name: webhook-signature
        required: true
        schema:
          examples:
          - v1,K5oZfzN95Z9UVu1EsfQmfVNQhnkZ2pj9o9NDN/H/pI4=
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeDriveItemPermissionRequestCreatedEvent'
        description: Standard Webhooks envelope describing a permission Riot is asking the customer to revoke.
        required: true
      responses:
        '200':
          description: Event accepted. Any `2xx` status code is treated as success; the receiver does not need to return a body.
      security: []
      summary: revoke_drive_item_permission_request.created
      tags:
      - Sonar
components:
  schemas:
    RevokeDriveItemPermissionRequestCreatedProviderData:
      additionalProperties: false
      properties:
        drive_item_id:
          description: Provider-side identifier of the drive item the permission grants access to.
          examples:
          - 0BxYzAbCdEfGhIjKlMnOp
          type: string
        owner_id:
          description: Provider-side identifier of the drive item owner.
          examples:
          - owner@example.com
          type: string
        permission_id:
          description: Provider-side identifier of the permission to revoke.
          examples:
          - anyoneWithLink
          type: string
        shared_drive_id:
          description: Provider-side identifier of the shared drive, when the item lives in one (Microsoft only).
          examples:
          - b!abc123
          type: string
      required:
      - drive_item_id
      - permission_id
      - owner_id
      title: RevokeDriveItemPermissionRequestCreatedProviderData
      type: object
    RevokeDriveItemPermissionRequestCreatedEvent:
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/RevokeDriveItemPermissionRequestCreatedData'
        timestamp:
          description: ISO 8601 timestamp at which the event was created in Riot. This is the event time, not the delivery attempt time. The delivery time is sent in the `webhook-timestamp` header.
          format: date-time
          type: string
        type:
          const: revoke_drive_item_permission_request.created
      required:
      - data
      - timestamp
      - type
      title: RevokeDriveItemPermissionRequestCreatedEvent
      type: object
    RevokeDriveItemPermissionRequestCreatedData:
      additionalProperties: false
      properties:
        provider:
          $ref: '#/components/schemas/Provider'
        provider_data:
          $ref: '#/components/schemas/RevokeDriveItemPermissionRequestCreatedProviderData'
      required:
      - provider_data
      - provider
      title: RevokeDriveItemPermissionRequestCreatedData
      type: object
    Provider:
      description: Cloud provider the permission belongs to.
      enum:
      - google
      - microsoft
      examples:
      - google
      title: Provider
      type: string
  securitySchemes:
    apiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
