openapi: 3.2.0
info:
  description: '## Overview

    The Riot API is a (mostly) RESTful API.'
  title: Riot Slash API
  version: v1
servers:
- url: https://public-api.tryriot.com/
security:
- apiKeyAuth: []
tags:
- name: Slash
paths:
  /v1/slash/employees/alert_statistics:
    get:
      description: 'Retrieves a paginated list of employees who have been alerted by the Slash system in the workspace.

        For each employee, returns detailed information including their identification data and a breakdown of their email alerts:

        - number of alerted emails received by the employee;

        - number of alerted emails reported by the employee;

        - number of alerted emails marked as safe by the employee.


        **Scopes required:**

        - inbox:read'
      operationId: inbound_protections_list_employees_with_alerts_stats_YGL572Y
      parameters:
      - in: header
        name: x-item-limit
        required: false
        schema:
          default: 50
          deprecated: true
          maximum: 100
          minimum: 1
          type: integer
      - in: header
        name: x-next-cursor
        required: false
        schema:
          deprecated: true
          type: string
      - in: query
        name: cursor
        required: false
        schema:
          type: string
      - in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
      - in: query
        name: workspace_id
        required: true
        schema:
          format: uuid
          type: string
      - in: query
        name: created_after
        required: true
        schema:
          format: date-time
          type: string
      - in: query
        name: created_before
        required: true
        schema:
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/PaginatedEmployeeWithAlertsPayload'
                    type: array
                  metadata:
                    properties:
                      limit:
                        type: integer
                      next_cursor:
                        type:
                        - string
                        - 'null'
                    required:
                    - next_cursor
                    - limit
                    type: object
                required:
                - data
                type: object
          description: Employees with alerted emails stats
          headers:
            link:
              description: 'Link header with rel="next" pointing to the next page URL. Format: `<url>; rel="next"`'
              required: false
              schema:
                type: string
            x-next-cursor:
              description: Pagination cursor for the next page
              required: false
              schema:
                deprecated: true
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotFoundErrorResponse'
          description: no description
        '422':
          $ref: '#/components/responses/UnprocessableContentErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimitExceededErrorResponse'
      security:
      - apiKeyAuth:
        - inbox:read
      summary: List employees with alerts statistics
      tags:
      - Slash
      x-riot-team-ownership: inbox
  /v1/slash/employees/impersonation_statistics:
    get:
      description: 'Retrieves a paginated list of employees whose identity has been used in email impersonation attacks in the workspace.

        For each employee, returns detailed information including their identification data and a breakdown of email impersonation attacks:

        - total number of attacks impersonating the employee;

        - number of attacks confirmed as fraudulent;

        - number of attacks pending review;

        - number of attacks confirmed as safe.


        **Scopes required:**

        - inbox:read'
      operationId: inbound_protections_list_employees_with_impersonation_stats_YGL572Y
      parameters:
      - in: header
        name: x-item-limit
        required: false
        schema:
          default: 50
          deprecated: true
          maximum: 100
          minimum: 1
          type: integer
      - in: header
        name: x-next-cursor
        required: false
        schema:
          deprecated: true
          type: string
      - in: query
        name: cursor
        required: false
        schema:
          type: string
      - in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
      - in: query
        name: workspace_id
        required: true
        schema:
          format: uuid
          type: string
      - in: query
        name: created_after
        required: true
        schema:
          format: date-time
          type: string
      - in: query
        name: created_before
        required: true
        schema:
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/PaginatedEmployeeWithImpersonationPayload'
                    type: array
                  metadata:
                    properties:
                      limit:
                        type: integer
                      next_cursor:
                        type:
                        - string
                        - 'null'
                    required:
                    - next_cursor
                    - limit
                    type: object
                required:
                - data
                type: object
          description: Employees with email impersonation stats
          headers:
            link:
              description: 'Link header with rel="next" pointing to the next page URL. Format: `<url>; rel="next"`'
              required: false
              schema:
                type: string
            x-next-cursor:
              description: Pagination cursor for the next page
              required: false
              schema:
                deprecated: true
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceNotFoundErrorResponse'
          description: no description
        '422':
          $ref: '#/components/responses/UnprocessableContentErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimitExceededErrorResponse'
      security:
      - apiKeyAuth:
        - inbox:read
      summary: List employees with email impersonation statistics
      tags:
      - Slash
      x-riot-team-ownership: inbox
components:
  schemas:
    ForbiddenErrorResponse:
      additionalProperties: false
      properties:
        errors:
          items:
            additionalProperties: false
            properties:
              code:
                const: forbidden
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                required:
                - pointer
                type: object
              title:
                const: Forbidden
            required:
            - title
            - source
            - detail
            type: object
          type: array
      required:
      - errors
      title: ForbiddenErrorResponse
      type: object
    AlertedEmailsStatsSchema:
      additionalProperties: false
      properties:
        marked_safe_alerts_count:
          description: Number of alerted emails marked as safe by the employee
          type: integer
        received_alerts_count:
          description: Number of alerted emails received by the employee
          type: integer
        reported_alerts_count:
          description: Number of alerted emails reported by the employee
          type: integer
      required:
      - marked_safe_alerts_count
      - reported_alerts_count
      - received_alerts_count
      title: AlertedEmailsStatsSchema
      type: object
    UnprocessableContentErrorResponse:
      additionalProperties: false
      properties:
        errors:
          items:
            additionalProperties: false
            properties:
              code:
                type: string
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                required:
                - pointer
                type: object
              title:
                type: string
            required:
            - title
            - source
            - detail
            type: object
          type: array
      required:
      - errors
      title: UnprocessableContentErrorResponse
      type: object
    PaginatedEmployeeWithImpersonationPayload:
      additionalProperties: false
      properties:
        employee:
          $ref: '#/components/schemas/EmployeeOverviewSchema'
        impersonation_stats:
          $ref: '#/components/schemas/ImpersonationStatsSchema'
      required:
      - impersonation_stats
      - employee
      title: PaginatedEmployeeWithImpersonationPayload
      type: object
    RateLimitExceededErrorResponse:
      additionalProperties: false
      properties:
        errors:
          items:
            additionalProperties: false
            properties:
              code:
                const: too_many_requests
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                required:
                - pointer
                type: object
              title:
                const: Too Many Requests
            required:
            - title
            - source
            - detail
            type: object
          type: array
      required:
      - errors
      title: RateLimitExceededErrorResponse
      type: object
    EmployeeOverviewSchema:
      additionalProperties: false
      properties:
        id:
          description: UUID of the employee
          format: uuid
          type: string
        name:
          description: Name of the employee
          examples:
          - John Doe
          type:
          - string
          - 'null'
        primary_email_address:
          description: Email address
          examples:
          - john.doe@tryriot.com
          format: email
          type:
          - string
          - 'null'
        username:
          description: Username of the employee
          type:
          - string
          - 'null'
      required:
      - primary_email_address
      - username
      - name
      - id
      title: EmployeeOverviewSchema
      type: object
    ImpersonationStatsSchema:
      additionalProperties: false
      properties:
        attacks_impersonating_employee:
          description: Total number of attacks impersonating the employee
          type: integer
        impersonation_attacks_confirmed:
          description: Number of attacks impersonating the employee confirmed as fraudulent
          type: integer
        impersonation_attacks_denied:
          description: Number of attacks impersonating the employee confirmed as safe
          type: integer
        impersonation_attacks_pending_review:
          description: Number of attacks impersonating the employee in pending review
          type: integer
      required:
      - impersonation_attacks_denied
      - impersonation_attacks_pending_review
      - impersonation_attacks_confirmed
      - attacks_impersonating_employee
      title: ImpersonationStatsSchema
      type: object
    UnauthorizedErrorResponse:
      additionalProperties: false
      properties:
        errors:
          items:
            additionalProperties: false
            properties:
              code:
                const: unauthorized
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                required:
                - pointer
                type: object
              title:
                const: Unauthorized
            required:
            - title
            - source
            - detail
            type: object
          type: array
      required:
      - errors
      title: UnauthorizedErrorResponse
      type: object
    WorkspaceNotFoundErrorResponse:
      additionalProperties: false
      properties:
        errors:
          items:
            additionalProperties: false
            properties:
              code:
                const: workspace_not_found
              detail:
                type: string
              source:
                properties:
                  pointer:
                    type: string
                required:
                - pointer
                type: object
              title:
                const: Workspace not found
            required:
            - title
            - source
            - detail
            type: object
          type: array
      required:
      - errors
      title: WorkspaceNotFoundErrorResponse
      type: object
    PaginatedEmployeeWithAlertsPayload:
      additionalProperties: false
      properties:
        emails_alerts_stats:
          $ref: '#/components/schemas/AlertedEmailsStatsSchema'
        employee:
          $ref: '#/components/schemas/EmployeeOverviewSchema'
      required:
      - emails_alerts_stats
      - employee
      title: PaginatedEmployeeWithAlertsPayload
      type: object
  responses:
    UnauthorizedErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedErrorResponse'
      description: Missing API key or the key is invalid
    RateLimitExceededErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimitExceededErrorResponse'
      description: Rate limit is exceeded
    ForbiddenErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenErrorResponse'
      description: Requested resource cannot be accessed
    UnprocessableContentErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnprocessableContentErrorResponse'
      description: Unprocessable content
  securitySchemes:
    apiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
